* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "Helvetica Neue", "Helvetica", "Arial",
    "Lucida Grande";
}

.upload {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  left: 500px;
  border: 1px solid #ccc;
  padding: 40px;
  background: transparent;
  box-shadow: 4px 2px 20px rgba(168, 181, 252, 0.8);
}

.submit {
  position: relative;
  align-items: center;
  font-size: 20px;
  padding: 4px 70px;
  border: 2px solid rgba(8, 8, 8, 0.103);
  border-radius: 20px;
  font-weight: 700;
  left: 20px;
}

.submit:hover {
  color: rgb(212, 77, 44);
  border-radius: 20px;
  font-weight: 700;
}
